# Byte-compiled / optimized / DLL files
__pycache__/
*/__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/

# IDE
.vscode

# Session files
*.session
*.session*
*.session-journal

# Logs
unknown_errors.txt
*.log

# Downloads
downloads/

# Replit
.pythonlibs/
.upm/
